.btn{
    &-default{
        font-size: 1.4rem;
        color: $white;
        padding: .8rem 2.5rem;
        background-color: $primary;
        border-radius: .5rem;
        text-transform: uppercase;
        box-shadow: 0 0 20px $primary;
        display: inline-block;
        &:hover{
            background-color: darken($primary, 10%);
        }
    }

    &-menu{
        &-open{
            font-size: 1.6rem;
            color: $dark;
            border: 1px solid $dark;
            border-radius: .5rem;
        }
    }

    &-whatsapp{
        @include square(50px);
        @include flex-center;
        color: $white;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        background-color:#25d366;
        border-radius: 5rem; 
        font-size: 2.5rem;
        z-index: 1000;
    }
}